<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gobof.js - 6dof tracking in browser</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <link rel="stylesheet" href="./bulma-slider.min.css">
  <link rel="stylesheet" href="./bulma-pageloader.min.css">
  <style>
    .slider {
      width: calc(100% - (5.2rem)) !important;
    }

    output {
      width: 4rem !important;
    }
  </style>
</head>

<body>
  <section class="section">

    <div id="tracking" class="container">
      <div v-bind:class="pageloaderClass">
        <span class="title">{{loadingText}}</span>
      </div>


      <h1 class="title">gobof.js</h1>
      <h2 class="subtitle">positional tracking for oculus go</h2>
      <br>

      <div id="simple">

        <div class="box">

          <div class="content">
            <p>your webcam</p>
          </div>
          <video id="webcam" v-bind:width="webcamwidth" v-bind:height="webcamheight" autoplay muted>


            Your browser does not support the video tag.
          </video>

        </div>

        <div class="box">
          <div class="content">
            <p>tracking</p>
          </div>
          <canvas id="canvasOutput" v-bind:width="trackerwidth" v-bind:height="trackerheight" muted></canvas>
        </div>
        <div class="columns">

          <div class="column">
            <div class="control">
              <button class="button is-primary" onclick="loadwebcam()">
                load webcam
              </button>
              <button class="button is-primary" v-on:click="toggleTracking()" :disabled="!wasmloaded">
                {{trackingButton}}
              </button>
            </div>
          </div>
          <div class="column" v-if="fpscounter>1">
            <div>
              <p v-bind:style="{color:fpscolor}">fps: {{fpscounter}}</p>
            </div>
          </div>
        </div>


        <div class="columns">
          <div class="column">
            <div>
              <input class="input" v-model="wsaddress" type="text" @input="wsupdate">
            </div>
            <br>
            <div>
              <p v-bind:style="{color:wsstatuscolor}">{{wsstatus}}</p>

            </div>
          </div>

          <div class="column">
            <button class="button is-primary" v-on:click="wsupdate()" :disabled="!wasmloaded">connect</button>
          </div>

        </div>

        <div class="box" v-if="error!=''">
          <p>error: {{ userFriendlyError }}</p>
          <br>
          <button class="button" v-on:click="error=''">Hide Error</button>
        </div>
        <div>

          <button class="button" v-on:click="save()">save</button>
          <button class="button" v-on:click="load()">load</button>
          <button class="button" v-on:click="reset()">reset</button>
          <button class="button" v-on:click="exportSettings()">export</button>
          <button class="button" v-on:click="load()" disabled>import</button>
          <div v-if="exported!=''">
            <br>
            <pre class="box">
              {{exported}}
            </pre>
          </div>
        </div>
      </div>
      <hr>
      <div id="advanced">
        <div id="settings">


          <div>
            <label class="label">color</label>
            <br>
            <div v-bind:style="{background: backgroundcolor}">{{backgroundcolor}}</div>
            <br>
            <div>
              <compact-picker v-model="colors"></compact-picker>
            </div>
            <br>
            <label class="label">hsv range</label>
            <p> low: {{lowh}}, {{lows}}, {{lowv}}</p>
            <p> high: {{highh}}, {{highs}}, {{highv}}</p>
            <br>
          </div>

          <div class="field">
            <label class="label">hsv</label>
            <p class="help">tweak the color</p>
            <div class="control">
              <input class="slider has-output" step="1" min="0" max="255" type="range" v-model.number="colors.hsv.h">
              <output>{{colors.hsv.h}}</output>
            </div>
            <div class="control">
              <input class="slider has-output" step="0.01" min="0" max="1" type="range" v-model.number="colors.hsv.s">
              <output>{{colors.hsv.s}}</output>
            </div>
            <div class="control">
              <input class="slider has-output" step="0.01" min="0" max="1" type="range" v-model.number="colors.hsv.v">
              <output>{{colors.hsv.v}}</output>
            </div>
          </div>


          <div class="field">
            <label class="label">hue sensitivity</label>
            <p class="help">color sensitivity</p>
            <div class="control">
              <input class="slider has-output" step="0.02" min="0" max="0.6" type="range"
                v-model.number="colorhuesensitivity">
              <output>{{colorhuesensitivity}}</output>
            </div>
          </div>
          <div class="field">
            <label class="label">saturation sensitivity</label>
            <p class="help">color sensitivity</p>
            <div class="control">
              <input class="slider has-output" step="0.02" min="0" max="1" type="range"
                v-model.number="colorsaturationsensitivity">
              <output>{{colorsaturationsensitivity}}</output>
            </div>
          </div>
          <div class="field">
            <label class="label">value sensitivity</label>
            <p class="help">color sensitivity</p>
            <div class="control">
              <input class="slider has-output" step="0.02" min="0" max="1" type="range"
                v-model.number="colorvaluesensitivity">
              <output>{{colorvaluesensitivity}}</output>
            </div>
          </div>
          <hr>


          <div class="field">
            <label class="label">tracker</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="answer" value="1" v-model.number="id">
                head
              </label>
              <label class="radio">
                <input type="radio" name="answer" value="2" v-model.number="id">
                right hand
              </label>
              <label class="radio">
                <input type="radio" name="answer" value="3" v-model.number="id">
                left hand
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label">fps</label>
            <div class="control">
              <input class="slider has-output" step="1" min="30" max="120" type="range" v-model.number="fps">
              <output> {{fps}} </output>
            </div>
          </div>
          <div class="field">
            <label class="label">focal length</label>
            <p class="help">differs for different cameras</p>
            <div class="control">
              <input class="slider has-output" step="0.05" min="0.1" max="0.7" type="range"
                v-model.number="focallength">
              <output>{{focallength}}</output>
            </div>
          </div>
          <div class="field">
            <label class="label">target width</label>
            <p class="help">width of the object you detecting (cm)</p>
            <div class="control">
              <input class="slider has-output" step="0.1" min="1" max="40" type="range" v-model.number="targetwidth">
              <output>{{targetwidth}}</output>
            </div>
          </div>
          <div class="field">
            <label class="label">resolution</label>
            <p class="help">{{webcamwidth}} x {{webcamheight}}</p>
            <div class="control">
              <input class="slider has-output" step="1" min="50" max="400" type="range" v-model.number="webcamwidth">
              <output>{{webcamwidth}}</output>
            </div>
          </div>


          <div class="field">
            <label class="label">movement sensitivity</label>
            <p class="help" sensitivity for x and y axis></p>
            <div class="control">
              <input class="slider has-output" step="1" min="0" max="200" type="range"
                v-model.number="movingsensitivity">
              <output>{{movingsensitivity}}</output>
            </div>
          </div>

          <div class="field">
            <label class="label">z axis sensitivity</label>
            <p class="help">sensitivity for z axis</p>
            <div class="control">
              <input class="slider has-output" step="1" min="0" max="300" type="range" v-model.number="zsensitivity">
              <output>{{zsensitivity}}</output>
            </div>
          </div>


          <div class="field">
            <label class="label">yoffset</label>
            <p class="help">too high or too low? adjust</p>
            <div class="control">
              <input class="slider has-output" step="0.5" min="-50" max="50" type="range" v-model.number="yoffset">
              <output>{{yoffset}}</output>
            </div>
          </div>

          <div class="field">
            <label class="label">zoffset</label>

            <p class="help">set default Z position</p>
            <div class="control">
              <input class="slider has-output" step="0.5" min="-50" max="50" type="range" v-model.number="zoffset">
              <output>{{zoffset}}</output>
            </div>
          </div>

          <div class="field">
            <label class="label">blur strength</label>
            <p class="help">jittery? try blurring the image</p>
            <div class="control">
              <input class="slider has-output" step="1" min="3" max="55" type="range" v-model.number="blurStrength">
              <output>{{blurStrength}}</output>
            </div>
          </div>

          <div class="field">
            <label class="label">erode/dilate strength</label>
            <p class="help">this works similar to blur.</p>
            <div class="control">
              <input class="slider has-output" step="1" min="3" max="20" type="range"
                v-model.number="erodeDilateStrength">
              <output>{{erodeDilateStrength}}</output>
            </div>
          </div>

          <div class="field">
            <label class="label">debug mode</label>
            <p class="help">warning! this may cause worse performance</p>
            <input class="checkbox" type="checkbox" v-model="debugMode">
          </div>


          <div class="field">
            <label class="label">blur</label>
            <input class="checkbox" type="checkbox" v-model="useBlur">
          </div>
          <div class="field">
            <label class="label">erode</label>
            <input class="checkbox" type="checkbox" v-model="useErode">
          </div>
          <div class="field">
            <label class="label">dilate</label>
            <input class="checkbox" type="checkbox" v-model="useDilate">
          </div>
          <slider v-model="testSliderValue" label="Test slider" help="test help" step="0.1" min="0.0" max="1.0"></slider>



        </div>

        <div>
          <br>
          <div>

            <!--
          <p>select biggest contour (not available, currently first contour only)</p>
          <input class="checkbox" type="checkbox" disabled>
        -->
          </div>

        </div>
      </div>
    </div>


    <script src="./umbrella.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./vue-color/vue-color.min.js"></script>
    <script src="http://bgrins.github.io/TinyColor/tinycolor.js"></script>

    <script src="./gobof-vue.js" type="text/javascript"></script>

    <script>
      //todo: reupload
      //opencv with WASM (faster and smaller)

      var Module = {
        wasmBinaryFile: 'https://jaroslaw-weber.github.io/gobofjs/opencv/opencv_js.wasm',
        _main: function () { opencvIsReady(); }
      };


    </script>
    <script src="./opencv/opencv.js"></script>
    <script src="./tinycolor.js"></script>

    </div>
  </section>
</body>

</html>