<!DOCTYPE html>
<html>
<script>
  //todo: reupload
  //opencv with WASM (faster and smaller)
  var Module = {
    wasmBinaryFile: 'https://huningxin.github.io/opencv.js/build/wasm/opencv_js.wasm',
    _main: function () { opencvIsReady(); }
  };
</script>
<script async src="https://huningxin.github.io/opencv.js/build/wasm/opencv.js"></script>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gobof.js - 6dof tracking in browser</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pickr-widget/dist/pickr.min.css" />
</head>

<body>
  <section class="section">
    <div id="tracking" class="container">

      <h1 class="title">gobof.js</h1>
      <p id="opencvloading">....loading....</p>

      <hr>
      <div>
        <p>sfps:</p>
        <input v-model="fps" type="text" class="input" @input="fpsupdate">
      </div>
      <div>
        <p>focal length</p>
        <input v-model="focallength" type="text" class="input">
      </div>
      <div>
        <p>target width</p>
        <input v-model="targetwidth" type="text" class="input">
      </div>
      <div>
        <p>websocket address:</p>
        <br>
        <input class="input" v-model="wsaddress" type="text" @input="wsupdate">
        <br>
        <p> low hsv range</p>
        <div>
          <input class="input" v-model.number="lowh" type="number" value="30">
          <input class="input" v-model.number="lows" type="number" value="60">
          <input class="input" v-model.number="lowv" type="number" value="8">

        </div>
        <p> high hsv range</p>
        <div>
          <input class="input" v-model.number="highh" type="number" value="80">
          <input class="input" v-model.number="highs" type="number" value="255">
          <input class="input" v-model.number="highv" type="number" value="255">

        </div>
        <hr>
        <br>
        <button class="button is-primary" id="hsvbtn">Update HSV ranges</button>
        <hr>
        <p>color picker: (click, not ready yet)</p>
        <div class="color-picker"></div>
        <hr>
        <div class="control">
          <button class="button is-primary" id="startAndStop">Start Tracking</button>
        </div>
        <br>
        <p>fps now:</p>
        <p id="fps">0</p>
        <hr>

      </div>
      <hr>
      <div>
        <video id="webcam" width="260" height="195" autoplay="true" muted></video>
        <canvas id="canvasOutput" width="260" height="195" muted></canvas>
        <canvas id="trackingCheck" width="260" height="195" muted></canvas>
      </div>
      <script src="./umbrella.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <script src="./gobof-vue.js" type="text/javascript"></script>
      
      <script src="https://cdn.jsdelivr.net/npm/pickr-widget/dist/pickr.min.js"></script>
      <script src="./colorpicker.js"></script>
    </div>
  </section>
</body>

</html>